
body {
    background-color: black;
}

img {
    width: 100%;
    background-size: cover;
    background-position: center center;
}

h1 {
    color: green;
    text-align: center;
    background-color: white;
    border: solid black 1px;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 25px;
    padding: 7px;
    position: absolute;
    
}

table {
    border: solid black 3px;
    margin-top: 50px;
    position: absolute;
    margin-left: 43%;
    margin-right: 40%;
    background-color: white;
}

div.calc_wrap {
  width: 50%;
  height: 50%;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 10pt;
  margin: 300px auto;
  border: 1px solid #333;
}
h4.calc_title {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #333;
  background-color: #2D5064;
  color: #ffffff;
  margin-top: 200px;
}
div.calc_wrap ul {
  list-style-type: none;
}

div.calc_wrap .solution {
  margin-top: 10px;
}
div.calc_wrap input {
  margin: 5px 5px;
}
